<nav class="navbar navbar-material-blue-grey-800">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-logo">
                        <a href="javascript:void(0)"><img class="logo" src="img/logo.png" alt="dealSearch"/></a>
                    </div>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li ng-class="{'active':(curPath == 'main')}">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="#/ad/main"><i class="glyphicon glyphicon-th-list"></i> Каталог</a>
                        </li>
                        <li ng-class="{'active':(curPath == 'create')}">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="#/ad/create"><i class="glyphicon glyphicon-plus"></i> Добавить</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{'active':(curPath == '')}">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="" data-toggle="modal" data-target="#simple-dialog"><i class="glyphicon glyphicon-user"></i> Вход</a>
                        </li>
                        <li ng-class="{'active':(curPath == '')}">
                            <a data-toggle="collapse" data-target=".navbar-collapse.in" href="" data-toggle="modal" data-target="#simple-dialog"><i class="glyphicon glyphicon-plus-sign"></i> Регистрация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>